In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
# read in weather data (station 1/2)

wxr_west1=pd.read_csv('/Users/sra/Desktop/Data_Science_2023/_capstone/1.capstone_data/power_climate/2017_2021/raw_csv/POWER_Point_Hourly_20170101_20211231_034d1185N_119d0404W_LST.csv',header=13)
wxr_west1['key']=wxr_west1.index
wxr_west1

       YEAR  MO  DY  HR    WD2M  WS2M  PRECTOTCORR  QV2M  T2MDEW    key
0      2016  12  31  16  269.64  5.04         0.28  6.96    8.37      0
1      2016  12  31  17  281.85  4.76         0.10  6.65    7.69      1
2      2016  12  31  18  302.22  4.22         0.03  6.35    7.05      2
3      2016  12  31  19  318.47  4.20         0.01  5.98    6.27      3
4      2016  12  31  20  327.30  4.02         0.00  5.68    5.51      4
...     ...  ..  ..  ..     ...   ...          ...   ...     ...    ...
43819  2021  12  31  11  280.06  3.09         0.00  7.26    8.87  43819
43820  2021  12  31  12  274.96  3.98         0.00  7.20    8.77  43820
43821  2021  12  31  13  277.45  4.28         0.00  7.14    8.63  43821
43822  2021  12  31  14  280.74  4.32         0.00  6.96    8.33  43822
43823  2021  12  31  15  284.92  4.16         0.00  7.14    8.62  43823

[43824 rows x 10 columns]

In [3]:
# read in weather data (station 2/2)

wxr_west2=pd.read_csv('/Users/sra/Desktop/Data_Science_2023/_capstone/1.capstone_data/power_climate/2017_2021/raw_csv/POWER_Point_Hourly_20170101_20211231_034d1185N_119d0404W_LST-2.csv',header=11)
wxr_west2['key']=wxr_west2.index
wxr_west2

       YEAR  MO  DY  HR    T2M  ALLSKY_SFC_PAR_TOT  ALLSKY_SFC_SW_DWN    key
0      2016  12  31  16  10.58               14.85               0.15      0
1      2016  12  31  17  10.37                0.00               0.00      1
2      2016  12  31  18   9.80                0.00               0.00      2
3      2016  12  31  19   9.13                0.00               0.00      3
4      2016  12  31  20   8.56                0.00               0.00      4
...     ...  ..  ..  ..    ...                 ...                ...    ...
43819  2021  12  31  11  14.69              204.52               1.68  43819
43820  2021  12  31  12  15.13              180.02               1.48  43820
43821  2021  12  31  13  15.35              164.48               1.36  43821
43822  2021  12  31  14  15.35              120.65               1.02  43822
43823  2021  12  31  15  14.81               75.23               0.66  43823

[43824 rows x 8 columns]

In [4]:
wxr_west=pd.merge(wxr_west1,wxr_west2,how='left',on='key')
wxr_west

,YEAR_x,MO_x,DY_x,HR_x,WD2M,WS2M,PRECTOTCORR,QV2M,T2MDEW,key,YEAR_y,MO_y,DY_y,HR_y,T2M,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DWN
0,2016,12,31,16,269.64,5.04,0.28,6.96,8.37,0,2016,12,31,16,10.58,14.85,0.15
1,2016,12,31,17,281.85,4.76,0.10,6.65,7.69,1,2016,12,31,17,10.37,0.00,0.00
2,2016,12,31,18,302.22,4.22,0.03,6.35,7.05,2,2016,12,31,18,9.80,0.00,0.00
3,2016,12,31,19,318.47,4.20,0.01,5.98,6.27,3,2016,12,31,19,9.13,0.00,0.00
4,2016,12,31,20,327.30,4.02,0.00,5.68,5.51,4,2016,12,31,20,8.56,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2021,12,31,11,280.06,3.09,0.00,7.26,8.87,43819,2021,12,31,11,14.69,204.52,1.68
43820,2021,12,31,12,274.96,3.98,0.00,7.20,8.77,43820,2021,12,31,12,15.13,180.02,1.48
43821,2021,12,31,13,277.45,4.28,0.00,7.14,8.63,43821,2021,12,31,13,15.35,164.48,1.36
43822,2021,12,31,14,280.74,4.32,0.00,6.96,8.33,43822,2021,12,31,14,15.35,120.65,1.02
43823,2021,12,31,15,284.92,4.16,0.00,7.14,8.62,43823,2021,12,31,15,14.81,75.23,0.66

In [5]:
# drop extra year/mo/day/etc. columns

wxr_west=wxr_west[['YEAR_x','MO_x','DY_x','HR_x',
                  'WD2M','WS2M','PRECTOTCORR','QV2M',
                  'T2MDEW','ALLSKY_SFC_PAR_TOT',
                  'ALLSKY_SFC_SW_DWN']]
wxr_west
wxr_west.to_csv(path_or_buf='/Users/sra/Desktop/Data_Science_2023/_capstone/1.capstone_data/power_climate/2017_2021/wxr_west.csv')
# location: 34.1185,-119.0404

In [6]:
wxr_east1=pd.read_csv('/Users/sra/Desktop/Data_Science_2023/_capstone/1.capstone_data/power_climate/2017_2021/raw_csv/POWER_Point_Hourly_20170101_20211231_034d1094N_118d4232W_LST-2.csv',header=13)
wxr_east1['key']=wxr_east1.index
wxr_east1

       YEAR  MO  DY  HR  T2MDEW  QV2M  PRECTOTCORR  WS2M    WD2M    key
0      2016  12  31  16    8.22  7.08         0.86  3.14  243.56      0
1      2016  12  31  17    7.44  6.71         0.61  3.37  257.70      1
2      2016  12  31  18    6.51  6.29         0.41  3.46  272.07      2
3      2016  12  31  19    5.80  5.98         0.27  3.33  287.88      3
4      2016  12  31  20    5.19  5.74         0.16  2.93  302.80      4
...     ...  ..  ..  ..     ...   ...          ...   ...     ...    ...
43819  2021  12  31  11    7.80  6.96         0.00  3.12  266.12  43819
43820  2021  12  31  12    7.70  6.90         0.00  4.07  263.16  43820
43821  2021  12  31  13    7.56  6.90         0.00  4.43  263.83  43821
43822  2021  12  31  14    7.26  6.77         0.00  4.30  264.06  43822
43823  2021  12  31  15    7.16  6.71         0.00  3.85  264.65  43823

[43824 rows x 10 columns]

In [7]:
wxr_east2=pd.read_csv('/Users/sra/Desktop/Data_Science_2023/_capstone/1.capstone_data/power_climate/2017_2021/raw_csv/POWER_Point_Hourly_20170101_20211231_034d1094N_118d4232W_LST.csv',header=11)
wxr_east2['key']=wxr_east2.index
wxr_east2

       YEAR  MO  DY  HR    T2M  ALLSKY_SFC_PAR_TOT  ALLSKY_SFC_SW_DWN    key
0      2016  12  31  16   9.83                9.58               0.10      0
1      2016  12  31  17   9.00                0.00               0.00      1
2      2016  12  31  18   8.37                0.00               0.00      2
3      2016  12  31  19   7.82                0.00               0.00      3
4      2016  12  31  20   7.37                0.00               0.00      4
...     ...  ..  ..  ..    ...                 ...                ...    ...
43819  2021  12  31  11  14.60              211.33               1.75  43819
43820  2021  12  31  12  14.69              191.55               1.59  43820
43821  2021  12  31  13  14.41              178.10               1.48  43821
43822  2021  12  31  14  13.99              122.55               1.03  43822
43823  2021  12  31  15  13.23               68.10               0.60  43823

[43824 rows x 8 columns]

In [8]:
wxr_east=pd.merge(wxr_east1,wxr_east2,how='left',on='key')
wxr_east

,YEAR_x,MO_x,DY_x,HR_x,T2MDEW,QV2M,PRECTOTCORR,WS2M,WD2M,key,YEAR_y,MO_y,DY_y,HR_y,T2M,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DWN
0,2016,12,31,16,8.22,7.08,0.86,3.14,243.56,0,2016,12,31,16,9.83,9.58,0.10
1,2016,12,31,17,7.44,6.71,0.61,3.37,257.70,1,2016,12,31,17,9.00,0.00,0.00
2,2016,12,31,18,6.51,6.29,0.41,3.46,272.07,2,2016,12,31,18,8.37,0.00,0.00
3,2016,12,31,19,5.80,5.98,0.27,3.33,287.88,3,2016,12,31,19,7.82,0.00,0.00
4,2016,12,31,20,5.19,5.74,0.16,2.93,302.80,4,2016,12,31,20,7.37,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2021,12,31,11,7.80,6.96,0.00,3.12,266.12,43819,2021,12,31,11,14.60,211.33,1.75
43820,2021,12,31,12,7.70,6.90,0.00,4.07,263.16,43820,2021,12,31,12,14.69,191.55,1.59
43821,2021,12,31,13,7.56,6.90,0.00,4.43,263.83,43821,2021,12,31,13,14.41,178.10,1.48
43822,2021,12,31,14,7.26,6.77,0.00,4.30,264.06,43822,2021,12,31,14,13.99,122.55,1.03
43823,2021,12,31,15,7.16,6.71,0.00,3.85,264.65,43823,2021,12,31,15,13.23,68.10,0.60

In [9]:
# drop extra year/mo/day/etc. columns

wxr_east=wxr_east[['YEAR_x','MO_x','DY_x','HR_x',
                  'WD2M','WS2M','PRECTOTCORR','QV2M',
                  'T2MDEW','ALLSKY_SFC_PAR_TOT',
                  'ALLSKY_SFC_SW_DWN']]
wxr_east
wxr_east.to_csv(path_or_buf='/Users/sra/Desktop/Data_Science_2023/_capstone/1.capstone_data/power_climate/2017_2021/wxr_east.csv')
# location: 34.1094,-118.4232